/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
background-color:#ECECEC; 
background-size:100%; 
/* #2E9CE6;url("https://static.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg");*/
padding: 3em;
font-family: 'Raleway' , 'Arial';
color: #0A0A0A;
}

.bodyImg {
    width: 936px;
    height: 623px;
}
ul{
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li{
    display: inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}
a {
    color: #0A0A0A;
    text-decoration: none;
}


.example-icon {

    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}

button {
    
        font-family: 'Raleway' , 'Arial';
        font-size: 1em;
    }
    
    span {
        font-family: 'Raleway' , 'Arial';
        color: #0A0A0A;
        
    }
    .spans{
        font-size: 1.3em; 
    }
     
    h1 {
        font-family: 'Raleway' , 'Arial';
        font-size: 3em;
        font-weight: 0.1%;
    }
    .btn {
        border: 0;
        display: block;
        padding: 1em 3em;
        background: #A5F883;
        color: #6DBEF3;
        margin-bottom: 1em;
       
        cursor: pointer;
    }

    .e-container {
        display: flex;
        flex-direction: column;
      }
      
      .e-container > * {
        width: 50%;
      }
   
      input:required {
          
        display: flex;
        flex-direction: column;
         }


