

<div  >
<!--style="background: #ebebeb;" -->
<mat-card >
  
  

      <form (ngSubmit)="createProfile()" #contactForm="ngForm">
        <div class="e-container">
        <mat-form-field>
      <input matInput required forbiddenName  pattern="[a-zA-Z ]*"  [formControl]="patterns" #input minlength="4" [(ngModel)]="autuor" name="something"
       placeholder="Autuor"  >
      <mat-error *ngIf="patterns.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
   
   <div class="e-container">
      <mat-form-field>
       <input matInput type="text" #input minlength="4" forbiddenName="Book" [formControl]="titlePattern" [(ngModel)]="title" name="something1" placeholder="Title"
       required >
       <mat-error *ngIf="titlePattern.invalid">{{titleFilter(i)}}</mat-error>
      </mat-form-field>
      </div>
 
  <div class="e-container">
  <mat-form-field class="example-full-width ">
    <input matInput [(ngModel)]="date" name="date" [min]="minDate" [max]="maxDate"  [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date" 
     required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>The date must be at least from today and musn't be saturday</mat-error>
  </mat-form-field>
  </div>
 
  <button  type="submit" mat-raised-button color="accent"[disabled]="!contactForm.form.valid || titlePattern.invalid || patterns.invalid">add Book</button>
  <button  type="button" mat-raised-button color="accent" (click)="cancel()">Cancel</button>
  <br>
</form>
</mat-card>
</div>